@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = MainResources.Error;
}

<h1 class="text-danger">@MainResources.Error.</h1>
<h2 class="text-danger">@MainResources.AnErrorOccurredWhileProcessingYourRequest</h2>

