@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = MainResources.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@MainResources.LockedOut.</h1>
    <h2 class="text-danger">@MainResources.ThisAccountHasBeenLockedOutPleaseTryAgainLater</h2>
</hgroup>
