@{
    ViewBag.Title = MainResources.ResetPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @(MainResources.YourPasswordHasBeenReset)&nbsp;@MainResources.Please @Html.ActionLink(MainResources.ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
